Repository arkb75/SoloPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, check-aws-credentials, detect-secrets

validate-imports:
  name: Validate Python imports
  entry: poetry run python scripts/validate_imports.py
  language: system
  pass_filenames: false

check-aws-credentials:
  name: Check for AWS credentials
  entry: sh -c 'grep -E "(aws_access_key_id|aws_secret_access_key|AWS_ACCESS_KEY_ID|AWS_SECRET_ACCESS_KEY)" "$@" || exit 0'
  language: system

detect-secrets:
  name: Detect secrets
  entry: sh -c 'grep -E "(api_key|secret|token|password|key)\s*=\s*[\"'\'']\S+[\"'\'']" "$@" | grep -v -E "(template|example|test|fake|dummy)" || exit 0'
  language: system

Fixed proposal versioning
  doc-service/lambda/src/index.js
  src/agents/email_intake/pdf_generator.py
  src/storage/s3_proposal_store.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance PDF proposal handling in email intake process
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/lambda_function.py
  src/agents/email_intake/scripts/deploy_lambda_update.sh
Due: validate-imports, check-aws-credentials, detect-secrets

Revise README for SoloPilot branding and feature updates
  README.md
Due: none

Remove .env from version control
  .env
Due: check-aws-credentials

Add PDF annotation feature to email intake process
  frontend/email-intake/src/api/client.ts
  frontend/email-intake/src/components/PDFAnnotator.tsx
  frontend/email-intake/src/components/ProposalViewer.tsx
  frontend/email-intake/src/types.ts
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/conversational_responder.py
  src/agents/email_intake/lambda_function.py
  src/agents/email_intake/patch_builder.py
  src/agents/email_intake/pdf_generator.py
  src/agents/email_intake/scripts/deploy_api_lambda.sh
  src/agents/email_intake/vision_analyzer.py
Due: validate-imports, check-aws-credentials, detect-secrets

Add AGENTS.md to document repository guidelines and project structure
  AGENTS.md
Due: check-aws-credentials

Refactor VisionAnalyzer for improved error handling and debugging
  doc-service/lambda/src/index.js
  doc-service/lambda/src/template-handler.js
  frontend/email-intake/src/api/client.ts
  frontend/email-intake/src/components/ProposalViewer.tsx
  src/agents/email_intake/__init__.py
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/email_agent.py
  src/agents/email_intake/pdf_generator.py
  src/agents/email_intake/proposal_mapper.py
  src/agents/email_intake/requirement_extractor.py
  src/agents/email_intake/requirement_ops.py
  src/agents/email_intake/scripts/deploy_api_lambda.sh
  src/agents/email_intake/template_assets.py
  src/agents/email_intake/vision_analyzer.py
  src/common/bedrock_client.py
  src/providers/base.py
  src/providers/bedrock.py
  tests/test_email_conversation_flow.py
  tests/test_email_intake.py
  tests/test_email_intake_sqs.py
Due: validate-imports, check-aws-credentials, detect-secrets

Update model configurations to use Claude 4.5 across the application
  .env.preview.template
  config/model_config.yaml
  docs/DEV_AGENT.md
  docs/llm-model-switch-recommendation.md
  frontend/email-intake/src/components/PDFAnnotator.tsx
  frontend/email-intake/src/components/ProposalViewer.tsx
  scripts/ping_bedrock_cli.sh
  src/agents/analyser/parser.py
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/conversational_responder.py
  src/agents/email_intake/metadata_extractor.py
  src/agents/email_intake/requirement_extractor.py
  src/agents/email_intake/response_reviser.py
  src/agents/email_intake/reviewer.py
  src/agents/planning/planner.py
  src/agents/review/reviewer_agent.py
  tests/dev_agent_test.py
  tests/test_analyser_bedrock_arn.py
  uploads/XXXNEW_max5_Europe_Warsaw_9c367d95-21ad-47ec-9b83-1044c3fe9e1d_20250624_184520.json
  uploads/XXXNEW_max5_US_Pacific_9c367d95-21ad-47ec-9b83-1044c3fe9e1d_20250624_184716.json
  uploads/XXXNEW_pro_Europe_Warsaw_9c367d95-21ad-47ec-9b83-1044c3fe9e1d_20250624_184434.json
  uploads/XXXNEW_pro_US_Pacific_9c367d95-21ad-47ec-9b83-1044c3fe9e1d_20250624_184622.json
Due: validate-imports, check-aws-credentials, detect-secrets

Add S3 debug logging and upload functionality to VisionAnalyzer
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/vision_analyzer.py
Due: validate-imports, check-aws-credentials, detect-secrets

Update PDFAnnotator and ProposalViewer to support multiple page annotations and improve submission handling
  .gitignore
  frontend/email-intake/package.json
  frontend/email-intake/src/components/PDFAnnotator.tsx
  frontend/email-intake/src/components/ProposalViewer.tsx
  src/agents/email_intake/frontend/.vite/deps_temp_c7d0567f/package.json
Due: check-aws-credentials

Refactor proposal and response handling to support dynamic data mapping and improved structure
  doc-service/lambda/src/templates/glassmorphic-proposal.js
  src/agents/email_intake/conversational_responder.py
  src/agents/email_intake/metadata_extractor.py
  src/agents/email_intake/proposal_mapper.py
  src/agents/email_intake/requirement_extractor.py
  src/agents/email_intake/response_reviser.py
  src/agents/email_intake/reviewer.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance PDFAnnotator with improved color handling and annotation display; remove redundant annotation notes in VisionAnalyzer
  frontend/email-intake/src/components/PDFAnnotator.tsx
  src/agents/email_intake/vision_analyzer.py
Due: validate-imports, check-aws-credentials, detect-secrets

Refactor budget handling across modules; remove requirement_ops module and integrate budget computation in S3ProposalStore and PDFGenerator
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/pdf_generator.py
  src/agents/email_intake/requirement_ops.py
  src/agents/email_intake/vision_analyzer.py
  src/storage/budget_utils.py
  src/storage/s3_proposal_store.py
Due: validate-imports, check-aws-credentials, detect-secrets

Refactor glassmorphic proposal styles and layout calculations; introduce dynamic sizing for sections and improve text handling
  doc-service/lambda/src/templates/glassmorphic-proposal.js
Due: check-aws-credentials

Refactor layout handling in GlassmorphicProposal; streamline text measurement and pagination logic for improved performance and readability
  doc-service/lambda/src/templates/glassmorphic-proposal.js
Due: check-aws-credentials

Refactor import statements in lambda_api and reviewer modules; update paths for EmailReviewer and enhance JSON response handling
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/reviewer.py
Due: validate-imports, check-aws-credentials, detect-secrets

Refactor import paths in lambda_api and response_reviser modules; streamline AI provider integration and enhance Bedrock client initialization
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/response_reviser.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance reply approval logic in ConversationDetail; add validation for revised responses and alert user if unavailable
  frontend/email-intake/src/components/ConversationDetail.tsx
Due: check-aws-credentials

Enhance email body processing in send_reply_email; add functions to append conversation ID, strip markdown, and convert markdown to HTML for improved formatting and readability
  src/agents/email_intake/email_sender.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance email body handling; add support for HTML and markdown formats, integrate DOMPurify for sanitization, and implement rich text editing with React Quill in ReplyEditor
  frontend/email-intake/package.json
  frontend/email-intake/src/api/client.ts
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/ReplyEditor.tsx
  frontend/email-intake/src/utils/emailBody.ts
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/email_sender.py
Due: validate-imports, check-aws-credentials, detect-secrets

Render email body as HTML in ConversationDetail; use dangerouslySetInnerHTML for safe rendering
  frontend/email-intake/src/components/ConversationDetail.tsx
Due: check-aws-credentials

Increase max_tokens for Bedrock model in provider factory to enhance response capacity
  src/agents/email_intake/requirement_extractor.py
  src/providers/factory.py
Due: validate-imports, check-aws-credentials, detect-secrets

Refactor conversation phases; unify 'proposal_draft' and 'proposal_feedback' into 'proposal' across components and update related logic for consistency
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/ConversationList.tsx
  frontend/email-intake/src/types.ts
  src/agents/email_intake/api/lambda_api.py
  src/agents/email_intake/conversation_state.py
  src/agents/email_intake/conversational_responder.py
  src/agents/email_intake/lambda_function.py
  src/agents/email_intake/metadata_extractor.py
  src/agents/email_intake/pdf_generator.py
  src/agents/email_intake/requirement_extractor.py
  src/storage/s3_proposal_store.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance metadata handling in response generation; add optional extracted_metadata parameter to improve efficiency and logging in ConversationalResponder and RequirementExtractor
  src/agents/email_intake/conversational_responder.py
  src/agents/email_intake/lambda_function.py
  src/agents/email_intake/requirement_extractor.py
Due: validate-imports, check-aws-credentials, detect-secrets

Enhance email body cleaning; add logic to identify and handle reply headers and quoted lines for improved parsing accuracy
  src/agents/email_intake/email_parser.py
Due: validate-imports, check-aws-credentials, detect-secrets

Fix email body cleaning logic to continue processing lines after encountering reply headers for improved parsing accuracy
  src/agents/email_intake/email_parser.py
Due: validate-imports, check-aws-credentials, detect-secrets

Add Bedrock-powered client simulation testing utility
  scripts/run_client_simulation.py
  scripts/simulation/__init__.py
  scripts/simulation/client_simulator.py
  scripts/simulation/conversation_engine.py
  scripts/simulation/intake_adapter.py
  scripts/simulation/personas.py
  scripts/simulation/prompts/client_persona.txt
  scripts/simulation/scenarios.py
Due: validate-imports, check-aws-credentials, detect-secrets

Fix client simulation to use Sonnet 4.5 with correct inference profile ID
  scripts/run_client_simulation.py
  scripts/simulation/client_simulator.py
  scripts/simulation/conversation_engine.py
Due: validate-imports, check-aws-credentials, detect-secrets

Fix full simulation by calling ConversationalResponder directly
  scripts/simulation/intake_adapter.py
Due: validate-imports, check-aws-credentials, detect-secrets

Implement client-only simulation mode
  scripts/run_client_simulation.py
  scripts/simulation/client_simulator.py
  scripts/simulation/intake_adapter.py
Due: validate-imports, check-aws-credentials, detect-secrets

Add guidance prompt to steer client AI responses
  scripts/simulation/client_simulator.py
  scripts/simulation/conversation_engine.py
Due: validate-imports, check-aws-credentials, detect-secrets

feat: Enhance client-to-codebase workflow with AI-driven intake, proposal generation, and IDE export capabilities.
  README.md
Due: none

feat: Allow users to select a specific proposal version when approving a reply.
  frontend/email-intake/src/api/client.ts
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/ProposalViewer.tsx
  src/agents/email_intake/api/lambda_api.py
Due: validate-imports, check-aws-credentials, detect-secrets

feat: Implement highlight selection preview and streamline PDF annotator to only support highlighting, removing the note tool and text layer.
  frontend/email-intake/src/components/PDFAnnotator.tsx
Due: check-aws-credentials

feat: Enhance vision annotation by incorporating user prompts into requirement updates
  src/agents/email_intake/api/lambda_api.py
Due: validate-imports, check-aws-credentials, detect-secrets

feat: Implement 10-second polling for silent refresh of conversation details and list.
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/ConversationList.tsx
Due: check-aws-credentials

feat: conditionally load revised reply content in ReplyEditor based on selected version
  frontend/email-intake/src/components/ConversationDetail.tsx
Due: check-aws-credentials

feat: Enable manual proposal generation with a new UI button and backend API endpoint.
  frontend/email-intake/src/api/client.ts
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/ProposalViewer.tsx
  src/agents/email_intake/api/lambda_api.py
Due: validate-imports, check-aws-credentials, detect-secrets

feat: extract ReviewDisplay and RevisionComparison components from ConversationDetail into a new file
  frontend/email-intake/src/components/ConversationDetail.tsx
  frontend/email-intake/src/components/RevisionComparison.tsx
Due: check-aws-credentials

fix: Prevent Quill editor content from overflowing buttons
  frontend/email-intake/src/index.css
Due: check-aws-credentials

Path conditions:
  validate-imports: any of: \.py$
  check-aws-credentials: any file but: ^(\.env\..*\.template|docs/|README\.md|\.pre-commit-config\.yaml)$
  detect-secrets: any of: \.py$, but not: ^(tests/|\.env\..*\.template|docs/)
